<h2>Products Editable Datatable</h2>
<ngx-datatable class="material" [rows]="rows" [columns]="columns" headerHeight="50" limit="5" columnMode="force"
  footerHeight="50" rowHeight="auto">

  <ngx-datatable-column *ngFor="let column of columns" [name]="column.title" [prop]="column.prop">
    
    <ng-template ngx-datatable-cell-template let-row="row">
      <app-table-cell [column]="column" [row]="row" (itemChange)="handleItemChange($event)"></app-table-cell>
    </ng-template>

  </ngx-datatable-column>

</ngx-datatable>